body {
  margin: 0;
  padding: 0;
}
.Homepage-Background {
  display: flex;
  position: relative;
  background-image:     
    linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('/Background/background_duskmourn.jpg');
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.set-Logo{
  width: 33%;
  height: auto;
  position: absolute;
  top:.5%;
  right: 0.5%;
}
.copyright{
  height: auto;
  position: absolute;
  color: rgb(125, 125, 125);
  bottom:.5%;
  right: 0.5%;
  font-size: 0.75rem;
}

