body {
  margin: 0;
  padding: 0;
}
.Homepage-Background {
  display: flex;
  position: relative;
  background-image:     
    linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('/Background/background_duskmourn.jpg');
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.set-Logo{
  width: 33%;
  height: auto;
  position: absolute;
  top:.5%;
  right: 0.5%;
}
.copyright{
  height: auto;
  position: absolute;
  color: rgb(125, 125, 125);
  bottom:.5%;
  right: 0.5%;
  font-size: 0.7rem;
}

.carousel-container{
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Carousel */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 550px;
  --slide-spacing: 20px;
  --slide-size: 550px
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-x pinch-zoom;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
}